<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- Por defecto, Spring NO va a buscar anotaciones a las clases, solo va a buscar
	los beans dados de alta en este fichero 
	
	Si queremos decirle a Spring que vaya a buscar beans y darlos de alta a clases, tenemos que
	decirselo con la siguiente anotacion
	
	Nota, hay que add el namespace "context" que esta en la pestaña "Namespaces" de abajo
	de eclipse
	
	base-packeage seria el paquete raiz donde tiene que empezar a buscar las anotaciones de las
	clases
	-->
	<context:component-scan base-package="Ejercicio2"></context:component-scan>



	<!-- Email singleton -->
	<bean class="Ejercicio2.Entidad.Email" id="email1" scope="singleton">
	<property name="id" value="1"></property>
	<property name="destinatario" value="Antonio salazar"></property>
	<property name="remitente" value="Hacienda"></property>
	</bean>
	
	
	
	<bean class="Ejercicio2.Entidad.Email" id="email2" scope="singleton">
	<property name="id" value="2"></property>
	<property name="destinatario" value="Perico de los Palotes"></property>
	<property name="remitente" value="Serreria S.A"></property>
	</bean>
	
	<!-- Libros -->
	
	<bean class="Ejercicio2.Entidad.Libro" id="libro1" scope="singleton">
	<property name="isbn" value="123456789"></property>
	<property name="editorial" value="Planeta"></property>
	<property name="autor" ref="autor1"></property>
	</bean>
		
	<!-- Autores -->
	<bean class="Ejercicio2.Entidad.Autor" id="autor1">
	<property name="id" value="1"></property>
	<property name="nombre" value="Stephen King"></property>
	<property name="edad" value="80"></property>
	</bean>
	
	<bean class="Ejercicio2.Entidad.Autor" id="autor2">
	<property name="id" value="2"></property>
	<property name="nombre" value="Julio Verne"></property>
	<property name="edad" value="70"></property>
	</bean>
	
	<bean class="Ejercicio2.Entidad.Autor" id="autor3">
	<property name="id" value="3"></property>
	<property name="nombre" value="J. R. R. Tolkien "></property>
	<property name="edad" value="60"></property>
	</bean>
	
	
	
	
</beans>
